body {
background-color: rgb(53, 56, 56);
  /* margin: 0; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/*  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    monospace;
}
